#main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: nowrap;
    width: 100%;
}

#sidebar {
    width: 300px;
    height: 100%;
    display: none;
}

footer {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    align-items: center;
    font-size: 2em;
}

#ecog-chart {
    flex: 1;
    height: 100%;
}

.footer-element {
    flex: 1;
    text-align: center;
}